*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif; 
}
body{
    background-color: #E5E7E9;
    font-weight: 800;
}
.box-left{
    width: 60%;
    height: 100vh;
    background-color: #c9cdd13a;
    clip-path: polygon(0 0, 77% 0, 100% 100%, 0% 100%);
    float: left;
}
.box-right{
    width: 40%;
    height: 100vh;
    float: left;
}
.sign-in{
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
.sign-in p{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}
.sign-in h6{
    color: #b3b3b3;
    font-size: 14px;
}
.label {
    width: 100%;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
}
input[type=email]{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
input[type=text]{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
input[type=password]{
    justify-content: center;
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
.hover:focus{
    
    background-color: #b3b3b3;
}
.hover:focus{
    
    background-color: #b3b3b3;
}

::placeholder{
    color: #b3b3b3;
    font-size: 12px;
}
.login-btn{
    display: flex;
    justify-content: center;   
}
.login-btn button{
    background-color: #ff041d;
    color: white;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 5px 5px gray 
}
span a{
    text-decoration: none;
    color: red;
    margin-left: 5px;
}
span a:hover{
    color: rgb(230, 106, 106);
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .box-left{
        display: none;
    }
    .box-right{
        width: 100%;
        height: 100vh;
        float: left;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
    .box-left{
        display: none;
    }
    .box-right{
        width: 100%;
        height: 100vh;
        float: left;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 600px) {
    .box-left{
        display: none;
    }
    .box-right{
        width: 100%;
        height: 100vh;
        float: left;
    }
}
