input[type=text]{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
select{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
option{
    font-size: 14px;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
input[type=tel]{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}
input[type=file]{
    width: 100%;
    padding: 6px;
    border: 1px solid black;
}

  
  